<div class="stats">
            <section class="stats-left">
                <div>
                    <h2>stats:</h2>
                </div>
                <h3 class="stat-element">streak:<span id="streak">&#8734; days</span></h3>
                <h3 class="stat-element">total:<span id="total">&#8734; days</span></h3><br>
                <button class="stat-element" id="stat-element">
                    <h3><span> view comfort levels</span></h3>
                </button>
            </section>
            <section class="stats-right">
                <article id="dates">
                    <div>
                        <h2>days until:</h2>
                    </div>
                    <div class="dates-list">
                        <aside class="date-element">
                            <div class="left-element">
                                <h3>summer begins</h3>
                                <h4 class="day-start">(may 4, 2023)</h4>
                            </div>
                            <span class="length-from">100</span>
                        </aside><br>
                        <aside class="date-element">
                            <div class="left-element">
                                <h3>fall begins</h3>
                                <h4 class="day-start">(sep 1, 2023)</h4>
                            </div>
                            <span class="length-from">100</span>
                        </aside><br>
                        <aside class="date-element">
                            <div class="left-element">
                                <h3>spring ends</h3>
                                <h4 class="day-start">(may 4, 2024)</h4>
                            </div>
                            <span class="length-from">100</span>
                        </aside>
                    </div>
                </article>
                <article id="languages">
                    <div>
                        <h2>comfort:</h2>
                    </div><br>
                    <aside class="language">
                        <h3>javascript {&nbsp;</h3><div class="progress"><div class="bar"></div></div><h3>&nbsp;}</h3>
                    </aside>
                    <aside class="language">
                        <h3>python {&nbsp;</h3><div class="progress"><div class="bar"></div></div><h3>&nbsp;}</h3>
                    </aside>
                    <aside class="language">
                        <h3>matlab {&nbsp;</h3><div class="progress"><div class="bar"></div></div><h3>&nbsp;}</h3>
                    </aside>
                    <aside class="language">
                        <h3>c++ {&nbsp;</h3><div class="progress"><div class="bar"></div></div><h3>&nbsp;}</h3>
                    </aside>
                    <aside class="language">
                        <h3>latex {&nbsp;</h3><div class="progress"><div class="bar"></div></div><h3>&nbsp;}</h3>
                    </aside>
                </article>
            </section>
        </div><br>