<div id="settings-pg">
  <div class="settings_title">
      <h2>&#60; settings &#62;<br></h2>
      <h3 id="exit" type="button">&#60; exit &#62;</h3>
  </div><br>
  <div class="color-container">
      <nav class="color"></nav>
      <nav class="color"></nav>
      <nav class="color"></nav>
      <nav class="color"></nav>
      <nav class="color"></nav>
  </div><br>
  <div class="setting_sec user">
    <span>&#60;&nbsp;user&nbsp;&#62;</span>
    <button>&nbsp;name&nbsp;</button>
    <button>mail</button>
    <button>goals</button>
  </div>
  <div class="setting_sec edit">
    <span>&#60;&nbsp;edit&nbsp;&#62;</span>
    <button>dates</button>
    <button>stats</button>
    <button>languages</button>
    <button>links</button>
  </div>
  <div class="setting_sec notes">
    <span>&#60;&nbsp;notes&nbsp;&#62;</span>
    <button>view</button>
    <button>edit</button>
    <button>print</button>
  </div>
  <div class="setting_sec o-pdf">
    <a href="">
      <span>&#60;&nbsp;create&nbsp;pdf&nbsp;&#62;</span>
    </a>
    <button>notes</button><button>calendar</button>
  </div><br><br>
  <div class="logout">
    <h3>
      <a href=""><span>&#60;&nbsp;logout&nbsp;&#62;</span></a>
    </h3>
  </div>
</div>